body {
    font-family: 'Roboto', sans-serif;
}

.medium-text {
    font-weight: 500;
}

.bold-text {
    font-weight: 700;
}

.black-text {
    font-weight: 900; /* Für besonders dicke Textabschnitte */
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #121212;
}

#hero {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('https://images.unsplash.com/photo-1542831371-29b0f74f9713?q=80&w=2340&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90oy1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

#hero h1 {
    font-size: 3.5em; /* Erhöht die Schriftgröße für "Achim Sommer" */
    margin: 0;
    padding: 0 20px; /* Fügt seitlichen Abstand hininzu, um Textumbrüche zu vermeiden */
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    z-index: 1;
}

.button {
    display: inline-block;
    margin: 20px 15px; /* Erhöht den Abstand zwischen den Buttons */
    padding: 15px 30px; /* Erhöht Padding für größere Buttons */
    border: none;
    background-color: #333;
    color: white;
    border-radius: 25px; /* Macht die Ecken der Buttons noch runder */
    font-size: 1.2em; /* Erhöht die Schriftgröße in den Buttons */
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #555;
}

#social-media {
    display: flex;
    justify-content: space-around; /* Verteilt die Icons gleichmäßig */
    align-items: center;
    width: 100%;
    padding: 20px 0; /* Fügt oben und unten etwas Platz hininzu */
}

.social-icon {
    text-decoration: none;
    color: white; /* Farbe der Icons */
    font-size: 40px; /* Größe der Icons */
    transition: transform 0.3s ease;
    border-radius: 50%; /* Macht den Hintergrund kreisförmig */
    width: 60px; /* Breite des Kreises */
    height: 60px; /* Höhe des Kreises */
    display: flex;
    justify-content: center; /* Zentriert das Icon horizontal */
    align-items: center; /* Zentriert das Icon vertikal */
    background-color: #7D3FC7; /* Lila Hintergrundfarbe */
    margin: 0 10px; /* Fügt einen Abstand zwischen den Icons hinzu */
}

.social-icon:hover {
    transform: scale(1.1);
}

#counters {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    color: white; /* Setzt die Standardtextfarbe für den gesamten Bereich auf Weiß */
}

.counter {
    text-align: center;
    width: 45%; /* Anpassung der Breite je nach Bedarf */
    margin: 20px 0; /* Fügt vertikal Abstand hinzu */
}

.count {
    font-size: 2em; /* Größe der Zahlen */
    font-weight: bold;
    color: white; /* Stellt sicher, dass die Zahlen in Weiß angezeigt werden */
}

.counter p {
    color: white; /* Stellt sicher, dass die Beschreibungstexte in Weiß angezeigt werden */
}

/* Kleine Geräte (Tablets, 768px und darüber) */
@media (min-width: 768px) {
    .container {
        width: 750px;
        margin: auto;
        color: #fff; /* Weiße Schriftfarbe */
    }
}

/* Mittlere Geräte (Desktops, 992px und darüber) */
@media (min-width: 992px) {
    .container {
        width: 970px;
        color: #fff; /* Weiße Schriftfarbe */
    }
}

/* Große Geräte (große Desktops, 1200px und darüber) */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
        color: #fff; /* Weiße Schriftfarbe */
    }
}

.scroll-down {
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2em;
    color: white;
    animation: bounce 2s infinite;
    cursor: pointer;
    text-decoration: none; /* Entfernt Unterstreichungen von Links */
}

.arrow-down {
    display: inline-block;
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid white; /* Erstellt eine Pfeilspitze */
    transition: border-top-color 0.3s ease-in-out; /* Glatter Übergang für Farbwechsel */
}

.scroll-down:hover .arrow-down {
    border-top-color: #A020F0; /* Farbwechsel beim Hover */
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0) scale(1);
    }
    40% {
        transform: translateY(-20px) scale(1.1); /* Vergrößert den Pfeil leicht beim Springen */
    }
    60% {
        transform: translateY(-10px) scale(1.05);
    }
}



@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.05); }
    100% { transform: scale(1); }
}

.pulse {
    animation: pulse 1s infinite;
}

footer {
    background-color: #121212; /* Dunkler Hintergrund */
    color: #fff; /* Weiße Schriftfarbe */
    text-align: center; /* Zentriert den Text */
    padding: 20px 10px; /* Fügt oben und unten Polsterung hinzu, links und rechts minimal */
    font-size: 16px; /* Standard Schriftgröße */
}

footer a {
    color: #7D3FC7; /* Weiße Schriftfarbe für Links */
    text-decoration: none; /* Entfernt die Unterstreichung */
}

footer a:hover {
    text-decoration: underline; /* Fügt eine Unterstreichung beim Hover hinzu */
}

#particles-js {
    position: absolute;
    width: 100%;
    min-height: 100%; /* Setzt die minimale Höhe auf 100% der Höhe des body oder html Elements */
    z-index: 1; /* niedrigerer z-index */
    top: 0;
    left: 0;
}

.repos-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Erstellt zwei Spalten mit gleicher Breite */
    gap: 20px; /* Definiert einen Abstand zwischen den Grid-Items */
    padding: 20px;
    background-color: #121212; /* Dark Mode Hintergrund */
    color: #ffffff; /* Weiße Schrift */
}

.repo-box {
    background: linear-gradient(135deg, #6e8efb, #a777e3);
    color: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.repo-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
}

/* Fügt Repository-Informationen Stile hinzu */
.repo-info {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    font-size: 0.9rem; /* Passen Sie die Größe nach Bedarf an */
}

/* Stil für Links innerhalb der Repo-Box */
.repo-link {
    display: inline-block;
    text-decoration: none;
    background-color: #007bff;
    color: white;
    padding: 8px 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.repo-link:hover {
    background-color: #0056b3;
}


@media (max-width: 768px) {
    .repos-container {
        grid-template-columns: 1fr; /* Geht zurück zu einer einzigen Spalte auf kleineren Bildschirmen */
    }
}
#github-section {
    text-align: center; /* Zentriert den Inhalt des Abschnitts */
    color: white; /* Setzt die Textfarbe auf Weiß */
}

#github-section h2 {
    margin-bottom: 20px; /* Fügt Abstand unter dem Titel hinzu, um Platz für die Repo-Boxen zu schaffen */
}

.repo-box h3, .repo-box p, .repo-box a {
    margin: 10px;
}

.repo-box a {
    display: inline-block;
    background-color: #fff;
    color: #6e8efb;
    padding: 8px 16px;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

.repo-box a:hover {
    background-color: #a777e3;
    color: #fff;
}





/* Anpassungen für WebKit-Browser */
::-webkit-scrollbar {
    width: 12px; /* Breite des Scrollbalkens */
}

::-webkit-scrollbar-track {
    background: #121212; /* Hintergrundfarbe des Scrollbalken-Tracks, angepasst an Ihr dunkles Design */
}

::-webkit-scrollbar-thumb {
    background-color: #9b59b6; /* Lila Farbe des Scroll-Thumb */
    border-radius: 6px; /* Rundet die Ecken des Scroll-Thumb ab */
}

/* Anpassungen für Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #9b59b6 #121212; /* Lila Scroll-Thumb und dunkler Track-Hintergrund */
}



.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333; /* Dunkler Hintergrund */
    color: white; /* Weiße Textfarbe */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.navbar-brand {
    font-size: 1.5em; /* Größere Schrift für den Markennamen */
}

.navbar-links a {
    color: white; /* Weiße Linkfarbe */
    text-decoration: none; /* Keine Unterstreichung */
    font-size: 1.2em; /* Anpassbare Schriftgröße */
    padding: 5px 10px; /* Etwas Polsterung um den Link */
    border-radius: 5px; /* Abgerundete Ecken für Hover-Effekt */
    transition: background-color 0.3s; /* Sanfter Übergang für Hover-Effekt */
}

.navbar-links a:hover {
    background-color: #555; /* Dunklerer Hintergrund beim Hover */
    color: #fff; /* Optional: Ändert die Textfarbe beim Hover */
}

@media (max-width: 768px) {
    .navbar-links {
        display: none; /* Versteckt Links auf kleinen Bildschirmen */
    }
    /* Hier könnten Sie Code für ein Hamburger-Menü hinzufügen */
}
.impressum-text {
    position: relative;
    z-index: 1; /* Stellt Text über Partikel */
}

#skills-section .container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

.skills {
    flex: 1;
}

.skill-item {
    margin-bottom: 15px;
}

.skill-bar {
    background-color: #e0e0e0;
    border-radius: 8px;
    height: 20px;
    width: 100%;
}

.skill-level {
    background-color: #4CAF50;
    border-radius: 8px;
    height: 100%;
    display: block;
}

.skills-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills-image img {
    max-width: 100%;
    height: auto;
}

.skill-item h4 {
    font-size: 20px; /* Größere Schriftgröße für die Überschrift */
    margin-bottom: 10px; /* Etwas mehr Abstand unter der Überschrift */
    margin: 0; /* Entfernt den Standardabstand um das <h4>-Element */
}
.skill-icon-and-name {
    display: flex;
    align-items: center; /* Zentriert die Elemente vertikal */
    gap: 10px; /* Fügt einen Abstand zwischen Icon und Text hinzu */
}

.skill-bar {
    background-color: #e0e0e0;
    border-radius: 15px;
    height: 30px; /* Dickerer Balken */
    width: 100%;
    overflow: hidden;
    margin-bottom: 20px; /* Mehr Abstand zwischen den Balken */
}

.skill-level {
    background: linear-gradient(to right, #af6cf3, #37297d); /* Farbverlauf von hellem zu dunklem Lila */
    border-radius: 15px;
    height: 100%; /* Füllt den gesamten Balken aus */
    width: 0%; /* Startet bei 0% Breite */
    display: block;
    transition: width 2s ease-out; /* Weiche Animation */
}

@keyframes loadSkill {
    from { width: 0%; }
    to { width: var(--skill-level); } /* Benutzt eine CSS-Variable für die Breite */
}

.skill-level:hover {
    background: linear-gradient(to right, #9D50BB, #6E48AA);
    animation: pulseAnimation 2s infinite;
}

@keyframes pulseAnimation {
    0% { transform: scale(1); }
    50% { transform: scale(1.05); }
    100% { transform: scale(1); }
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

.skills-image img {
    animation: float 3s ease-in-out infinite;
}

#about-me .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}

#about-me .profile-image img {
    border-radius: 50%;
    width: 300px; /* Erhöht die Größe des Bildes */
    height: auto;
    margin-right: 20px;
    margin-left: 50px; /* Verschiebt das Bild etwas weiter nach rechts */
}

#about-me .about-text {
    flex: 1;
    text-align: left; /* Text linksbündig ausrichten */
    padding-left: 10%; /* Erhöht den Abstand zum Bild */
    font-size: 20px; /* Erhöht die Schriftgröße */
    font-weight: bold; /* Macht den Text fett */
}

#about-me p, #about-me ul {
    color: #ffffff; /* Dunklere Schriftfarbe für bessere Lesbarkeit */
    line-height: 1.6;
}

#about-me ul {
    list-style: none; /* Entfernt Bullet Points */
    padding: 0;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

.profile-image img {
    animation: float 3s ease-in-out infinite;
}
